# Unreal Engine
Binaries/
Intermediate/
Saved/
DerivedDataCache/
*.autosave
*.log
*.vs
*.ini
*.user
*.sln
*.suo
*.opensdf
*.sdf
*.opendb
*.pdb
*.ilk

# Visual Studio
.vs/
*.user
*.userosscache
*.suo
*.sln.docstates

# Exclude the Build directory
Build/

# Exclude any bps and uasset files that should not be tracked
*.uasset
*.umap