# Unreal Engine general ignores
Binaries/
Intermediate/
Saved/
DerivedDataCache/
*.autosave
*.log
*.vs
*.ini
*.user
*.sln
*.suo
*.opensdf
*.sdf
*.opendb
*.pdb
*.ilk

# Visual Studio
.vs/
*.user
*.userosscache
*.suo
*.sln.docstates

# Exclude the Build directory
Build/

# Ignore all .umap and .uasset files globally
*.umap
*.uasset

# Except the .uasset files in the plugins folder
!Plugins/GameFeatures/ParadoxiaCore**/*.uasset